.icon-pencil,.icon-pointer,.icon-cloud,.icon-cloud-ul,.icon-cloud-dl,.icon-search,.icon-trashcan,.icon-droplet,.icon-eye,.icon-target,.icon-switch,.icon-location,.icon-close,.icon-checkmark,.icon-munis,.icon-plus,.icon-close2,.icon-divide,.icon-minus,.icon-plus2,.icon-equals,.icon-cancel,.icon-minus2,.icon-checkmark2,.icon-equals2,.icon-mobile,.icon-tablet,.icon-phone,.icon-bars,.icon-stack,.icon-battery,.icon-battery2,.icon-battery3,.icon-calculator,.icon-bolt,.icon-list,.icon-grid,.icon-list2,.icon-list3,.icon-layout,.icon-equalizer,.icon-equalizer2,.icon-cog,.icon-window,.icon-window2,.icon-window3,.icon-locked,.icon-unlocked,.icon-shield,.icon-cart,.icon-suitcase,.icon-airplane,.icon-file-download,.icon-file-upload,.icon-bars2,.icon-chart,.icon-stats,.icon-arrow-right,.icon-arrow-left,.icon-arrow-down,.icon-arrow-up,.icon-arrow-right2,.icon-arrow-left2,.icon-arrow-up2,.icon-arrow-down2,.icon-arrow-down-left,.icon-arrow-down-right,.icon-arrow-up-left,.icon-arrow-up-right,.icon-arrow-left3,.icon-arrow-right3,.icon-arrow-down3,.icon-arrow-up3,.icon-move,.icon-movie,.icon-refresh,.icon-picture,.icon-music,.icon-camera,.icon-film,.icon-tablet2,.icon-ipod,.icon-mouse,.icon-monitor,.icon-star,.icon-envelope,.icon-comment,.icon-user,.icon-download,.icon-upload,.icon-checked,.icon-circles,.icon-pencil2,.icon-flag,.icon-link,.icon-stop,.icon-play,.icon-pause,.icon-next,.icon-previous,.icon-drink,.icon-mug,.icon-clock,.icon-calendar,.icon-compass,.icon-tie,.icon-home,.icon-capslock,.icon-intersection,.icon-image,.icon-bell,.icon-triangle,.icon-compass2,.icon-diamond,.icon-checkmark3,.icon-uniF470,.icon-uniF471,.icon-uniF472,.icon-uniF473,.icon-uniF474,.icon-uniF475,.icon-uniF476,.icon-uniF477,.icon-uniF478,.icon-uniF479,.icon-uniF47A,.icon-uniF47B,.icon-uniF47C,.icon-uniF47D,.icon-uniF47E,.icon-uniF47F,.icon-uniF480,.icon-uniF482,.icon-uniF484,.icon-uniF485,.icon-uniF486,.icon-uniF487,.icon-uniF488,.icon-uniF489,.icon-uniF48A,.icon-uniF48B,.icon-cannon,.icon-route,.icon-gameboy,.icon-speed,.icon-desklamp,.icon-danger,.icon-searchdocument,.icon-pictureframe,.icon-firefox,.icon-teapot,.icon-apple,.icon-aperture,.icon-cherry,.icon-mushroom,.icon-bottle,.icon-muffin,.icon-globe,.icon-eightball,.icon-speaker,.icon-watch,.icon-snowman,.icon-favoritefile,.icon-handpointdown,.icon-handpointright,.icon-handpointleft,.icon-raceflag,.icon-doghouse,.icon-addtocart,.icon-emptycart,.icon-lastfm,.icon-taxi,.icon-alienware,.icon-visa,.icon-circleleft,.icon-circledown,.icon-circleup,.icon-circleright,.icon-tea,.icon-chef,.icon-foodtray,.icon-bat,.icon-addfriend,.icon-removefriend,.icon-resistor,.icon-scales,.icon-uniF000,.icon-uniF00B,.icon-uniF00C,.icon-uniF00D,.icon-uniF013,.icon-uniF014,.icon-uptime,.icon-value,.icon-domain2,.icon-affiliate,.icon-intel,.icon-link2,.icon-email,.icon-security2,.icon-barchart,.icon-uni0430,.icon-price,.icon-websitebuilder,.icon-shoppingcart,.icon-greenhosting,.icon-spam2,.icon-emailforward2,.icon-authentication,.icon-error2,.icon-wrench,.icon-phpbb,.icon-html5,.icon-css3,.icon-joomla,.icon-wordpress,.icon-drupal,.icon-codeigniter,.icon-refresh2,.icon-push,.icon-pull,.icon-query,.icon-sc,.icon-mailinglists,.icon-emailtrace,.icon-fourohfour,.icon-images,.icon-rawaccesslogs,.icon-document,.icon-presentation,.icon-search2,.icon-paste,.icon-trash,.icon-trashfull,.icon-circleadd,.icon-circledelete,.icon-circleselect,.icon-handpointup,.icon-handdrag,.icon-handtwofingers,.icon-diskspace2,.icon-volumefull,.icon-volumehalf,.icon-volumemute,.icon-volumemute2,.icon-iphone,.icon-nexus,.icon-mobile2,.icon-powerplug,.icon-imac,.icon-wifi,.icon-list4,.icon-download2,.icon-upload2,.icon-power,.icon-loading,.icon-comment2,.icon-comment22,.icon-post,.icon-loved,.icon-user2,.icon-friends,.icon-thumbup,.icon-thumbdown,.icon-favorite,.icon-favorite2,.icon-happy,.icon-sad,.icon-facebook,.icon-skype,.icon-youtube,.icon-phone2,.icon-phone3,.icon-dribbble,.icon-chrome,.icon-yahoo,.icon-delicious,.icon-reddit,.icon-phone4,.icon-missedcall,.icon-incomingcall,.icon-outgoingcall,.icon-googleplus,.icon-linkedin,.icon-blogger,.icon-vimeo,.icon-path,.icon-twitter,.icon-share,.icon-evernote,.icon-play2,.icon-fastforward,.icon-rewind,.icon-play3,.icon-stop2,.icon-pause2,.icon-voice,.icon-equalizer3,.icon-ipod2,.icon-camera2,.icon-videocamera,.icon-video3,.icon-headphones2,.icon-font,.icon-crop,.icon-insertpictureleft,.icon-bold,.icon-italic,.icon-wizard2,.icon-creativecommons,.icon-water,.icon-maps,.icon-calendar2,.icon-clock2,.icon-gasstation,.icon-umbrella,.icon-stopwatch,.icon-gpsoff,.icon-gpson,.icon-checkin,.icon-clock22,.icon-watertap,.icon-airplane2,.icon-shipping,.icon-piggybank,.icon-dollar2,.icon-euro2,.icon-pound2,.icon-yen2,.icon-briefcase2,.icon-law,.icon-paypal,.icon-skrill,.icon-alertpay,.icon-westernunion,.icon-moneybag,.icon-cash,.icon-flaskfull,.icon-paperclip,.icon-paperclip2,.icon-paperclip3,.icon-megaphone,.icon-student,.icon-fence,.icon-lamp,.icon-plaque,.icon-controllerps,.icon-trophy,.icon-starempty,.icon-starhalf,.icon-starfull,.icon-lifeempty,.icon-lifehalf,.icon-lifefull,.icon-warmedal,.icon-medal,.icon-medalgold,.icon-medalsilver,.icon-medalbronze,.icon-tennis,.icon-americanfootball,.icon-diamonds,.icon-settings4,.icon-settings5,.icon-info,.icon-zoomin,.icon-zoomout,.icon-quoteup,.icon-quotedown,.icon-undo,.icon-redo,.icon-lightbulb,.icon-phone5,.icon-mobile3,.icon-directions,.icon-mail,.icon-pencil3,.icon-feather,.icon-user3,.icon-target2,.icon-share2,.icon-heart,.icon-heart2,.icon-star2,.icon-star3,.icon-thumbs-up,.icon-thumbs-down,.icon-comment3,.icon-quote,.icon-search3,.icon-bell2,.icon-link3,.icon-tools,.icon-tag,.icon-new,.icon-clock3,.icon-calendar3,.icon-briefcase,.icon-brush,.icon-cone,.icon-screen,.icon-database,.icon-cart2,.icon-pie,.icon-bars3,.icon-logout,.icon-login,.icon-checkmark4,.icon-cross,.icon-minus3,.icon-plus3,.icon-cross2,.icon-erase,.icon-info2,.icon-info3,.icon-question,.icon-help,.icon-warning,.icon-shuffle,.icon-switch2,.icon-video,.icon-upload3,.icon-download3,.icon-bookmark,.icon-bookmarks,.icon-play4,.icon-pause3,.icon-record,.icon-stop3,.icon-next2,.icon-previous2,.icon-first,.icon-last,.icon-arrow-right4,.icon-cc,.icon-github,.icon-github2,.icon-flickr,.icon-flickr2,.icon-vimeo2,.icon-vimeo3,.icon-twitter2,.icon-twitter3,.icon-facebook2,.icon-facebook3,.icon-facebook4,.icon-googleplus2,.icon-googleplus3,.icon-pinterest,.icon-pinterest2,.icon-tumblr,.icon-tumblr2,.icon-linkedin2,.icon-linkedin3,.icon-dribbble2,.icon-dribbble3,.icon-lastfm2,.icon-lastfm3,.icon-instagram,.icon-dropbox,.icon-evernote2,.icon-skype2,.icon-skype3,.icon-renren,.icon-paypal2,.icon-picasa,.icon-soundcloud,.icon-behance,.icon-vk,.icon-smashing,.icon-time,.icon-cogs,.icon-github-sign,.icon-phone6,.icon-cogs2,.icon-time2,.icon-checkmark5,.icon-basket,.icon-phone7,.icon-chat,.icon-comments,.icon-download4,.icon-pen,.icon-coins,.icon-bookmark2,.icon-ticket,.icon-ticket2,.icon-ticket3,.icon-pen2,.icon-cart3,.icon-clock4,.icon-clock5,.icon-bubble,.icon-bubbles,.icon-user4,.icon-remove,.icon-eye-blocked,.icon-eye2,.icon-bookmark3,.icon-bookmarks2,.icon-cancel-circle,.icon-omega,.icon-sigma,.icon-mail2,.icon-mail3,.icon-google-plus,.icon-google-plus2,.icon-google-plus3,.icon-facebook5,.icon-facebook6,.icon-facebook7,.icon-twitter4,.icon-twitter5,.icon-twitter6,.icon-feed,.icon-feed2,.icon-feed3,.icon-youtube2,.icon-youtube3,.icon-vimeo4,.icon-vimeo22,.icon-vimeo5,.icon-flickr3,.icon-flickr4,.icon-flickr5,.icon-picassa,.icon-picassa2,.icon-dribbble4,.icon-dribbble5,.icon-dribbble6,.icon-deviantart,.icon-deviantart2,.icon-github3,.icon-github4,.icon-wordpress2,.icon-wordpress3,.icon-blogger2,.icon-blogger3,.icon-tumblr3,.icon-tumblr4,.icon-android,.icon-windows,.icon-skype4,.icon-linkedin4,.icon-lastfm4,.icon-lastfm5,.icon-stumbleupon,.icon-stumbleupon2,.icon-pinterest3,.icon-pinterest4,.icon-paypal3,.icon-paypal4,.icon-file-xml,.icon-html52,.icon-html53,.icon-css32,.icon-chrome2,.icon-firefox2,.icon-IE,.icon-opera,.icon-safari,.icon-cart4,.icon-clock6,.icon-apple2,.icon-phone8,.icon-checkmark6,.icon-cancel2,.icon-arrow-left-alt1,.icon-arrow-right-alt1,.icon-arrow-up-alt1,.icon-arrow-down-alt1,.icon-clock7 {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-pencil {
	background-position: 0 0;
}
.icon-pointer {
	background-position: -64px 0;
}
.icon-cloud {
	background-position: -128px 0;
}
.icon-cloud-ul {
	background-position: -192px 0;
}
.icon-cloud-dl {
	background-position: -256px 0;
}
.icon-search {
	background-position: -320px 0;
}
.icon-trashcan {
	background-position: -384px 0;
}
.icon-droplet {
	background-position: -448px 0;
}
.icon-eye {
	background-position: -512px 0;
}
.icon-target {
	background-position: -576px 0;
}
.icon-switch {
	background-position: -640px 0;
}
.icon-location {
	background-position: -704px 0;
}
.icon-close {
	background-position: -768px 0;
}
.icon-checkmark {
	background-position: -832px 0;
}
.icon-munis {
	background-position: -896px 0;
}
.icon-plus {
	background-position: -960px 0;
}
.icon-close2 {
	background-position: 0 -64px;
	width: 34px;
	height: 34px;
}
.icon-divide {
	background-position: -64px -64px;
}
.icon-minus {
	background-position: -128px -64px;
}
.icon-plus2 {
	background-position: -192px -64px;
}
.icon-equals {
	background-position: -256px -64px;
}
.icon-cancel {
	background-position: -320px -64px;
}
.icon-minus2 {
	background-position: -384px -64px;
}
.icon-checkmark2 {
	background-position: -448px -64px;
}
.icon-equals2 {
	background-position: -512px -64px;
}
.icon-mobile {
	background-position: -576px -64px;
}
.icon-tablet {
	background-position: -640px -64px;
}
.icon-phone {
	background-position: -704px -64px;
}
.icon-bars {
	background-position: -768px -64px;
}
.icon-stack {
	background-position: -832px -64px;
}
.icon-battery {
	background-position: -896px -64px;
}
.icon-battery2 {
	background-position: -960px -64px;
}
.icon-battery3 {
	background-position: 0 -128px;
}
.icon-calculator {
	background-position: -64px -128px;
}
.icon-bolt {
	background-position: -128px -128px;
}
.icon-list {
	background-position: -192px -128px;
	width: 38px;
}
.icon-grid {
	background-position: -256px -128px;
}
.icon-list2 {
	background-position: -320px -128px;
}
.icon-list3 {
	background-position: -384px -128px;
}
.icon-layout {
	background-position: -448px -128px;
}
.icon-equalizer {
	background-position: -512px -128px;
}
.icon-equalizer2 {
	background-position: -576px -128px;
}
.icon-cog {
	background-position: -640px -128px;
}
.icon-window {
	background-position: -704px -128px;
}
.icon-window2 {
	background-position: -768px -128px;
}
.icon-window3 {
	background-position: -832px -128px;
}
.icon-locked {
	background-position: -896px -128px;
}
.icon-unlocked {
	background-position: -960px -128px;
}
.icon-shield {
	background-position: 0 -192px;
}
.icon-cart {
	background-position: -64px -192px;
}
.icon-suitcase {
	background-position: -128px -192px;
}
.icon-airplane {
	background-position: -192px -192px;
}
.icon-file-download {
	background-position: -256px -192px;
}
.icon-file-upload {
	background-position: -320px -192px;
}
.icon-bars2 {
	background-position: -384px -192px;
}
.icon-chart {
	background-position: -448px -192px;
}
.icon-stats {
	background-position: -512px -192px;
}
.icon-arrow-right {
	background-position: -576px -192px;
}
.icon-arrow-left {
	background-position: -640px -192px;
}
.icon-arrow-down {
	background-position: -704px -192px;
}
.icon-arrow-up {
	background-position: -768px -192px;
}
.icon-arrow-right2 {
	background-position: -832px -192px;
}
.icon-arrow-left2 {
	background-position: -896px -192px;
}
.icon-arrow-up2 {
	background-position: -960px -192px;
}
.icon-arrow-down2 {
	background-position: 0 -256px;
}
.icon-arrow-down-left {
	background-position: -64px -256px;
}
.icon-arrow-down-right {
	background-position: -128px -256px;
}
.icon-arrow-up-left {
	background-position: -192px -256px;
}
.icon-arrow-up-right {
	background-position: -256px -256px;
}
.icon-arrow-left3 {
	background-position: -320px -256px;
}
.icon-arrow-right3 {
	background-position: -384px -256px;
}
.icon-arrow-down3 {
	background-position: -448px -256px;
}
.icon-arrow-up3 {
	background-position: -512px -256px;
}
.icon-move {
	background-position: -576px -256px;
}
.icon-movie {
	background-position: -640px -256px;
}
.icon-refresh {
	background-position: -704px -256px;
}
.icon-picture {
	background-position: -768px -256px;
}
.icon-music {
	background-position: -832px -256px;
	height: 30px;
}
.icon-camera {
	background-position: -896px -256px;
}
.icon-film {
	background-position: -960px -256px;
}
.icon-tablet2 {
	background-position: 0 -320px;
}
.icon-ipod {
	background-position: -64px -320px;
}
.icon-mouse {
	background-position: -128px -320px;
}
.icon-monitor {
	background-position: -192px -320px;
}
.icon-star {
	background-position: -256px -320px;
	width: 34px;
	height: 34px;
}
.icon-envelope {
	background-position: -320px -320px;
}
.icon-comment {
	background-position: -384px -320px;
}
.icon-user {
	background-position: -448px -320px;
}
.icon-download {
	background-position: -512px -320px;
}
.icon-upload {
	background-position: -576px -320px;
}
.icon-checked {
	background-position: -640px -320px;
}
.icon-circles {
	background-position: -704px -320px;
}
.icon-pencil2 {
	background-position: -768px -320px;
}
.icon-flag {
	background-position: -832px -320px;
}
.icon-link {
	background-position: -896px -320px;
}
.icon-stop {
	background-position: -960px -320px;
}
.icon-play {
	background-position: 0 -384px;
}
.icon-pause {
	background-position: -64px -384px;
}
.icon-next {
	background-position: -128px -384px;
}
.icon-previous {
	background-position: -192px -384px;
}
.icon-drink {
	background-position: -256px -384px;
}
.icon-mug {
	background-position: -320px -384px;
}
.icon-clock {
	background-position: -384px -384px;
}
.icon-calendar {
	background-position: -448px -384px;
}
.icon-compass {
	background-position: -512px -384px;
}
.icon-tie {
	background-position: -576px -384px;
}
.icon-home {
	background-position: -640px -384px;
}
.icon-capslock {
	background-position: -704px -384px;
}
.icon-intersection {
	background-position: -768px -384px;
}
.icon-image {
	background-position: -832px -384px;
}
.icon-bell {
	background-position: -896px -384px;
}
.icon-triangle {
	background-position: -960px -384px;
}
.icon-compass2 {
	background-position: 0 -448px;
}
.icon-diamond {
	background-position: -64px -448px;
}
.icon-checkmark3 {
	background-position: -128px -448px;
}
.icon-uniF470 {
	background-position: -192px -448px;
}
.icon-uniF471 {
	background-position: -256px -448px;
}
.icon-uniF472 {
	background-position: -320px -448px;
}
.icon-uniF473 {
	background-position: -384px -448px;
}
.icon-uniF474 {
	background-position: -448px -448px;
}
.icon-uniF475 {
	background-position: -512px -448px;
}
.icon-uniF476 {
	background-position: -576px -448px;
}
.icon-uniF477 {
	background-position: -640px -448px;
}
.icon-uniF478 {
	background-position: -704px -448px;
}
.icon-uniF479 {
	background-position: -768px -448px;
}
.icon-uniF47A {
	background-position: -832px -448px;
}
.icon-uniF47B {
	background-position: -896px -448px;
}
.icon-uniF47C {
	background-position: -960px -448px;
}
.icon-uniF47D {
	background-position: 0 -512px;
}
.icon-uniF47E {
	background-position: -64px -512px;
}
.icon-uniF47F {
	background-position: -128px -512px;
}
.icon-uniF480 {
	background-position: -192px -512px;
}
.icon-uniF482 {
	background-position: -256px -512px;
}
.icon-uniF484 {
	background-position: -320px -512px;
}
.icon-uniF485 {
	background-position: -384px -512px;
}
.icon-uniF486 {
	background-position: -448px -512px;
}
.icon-uniF487 {
	background-position: -512px -512px;
}
.icon-uniF488 {
	background-position: -576px -512px;
}
.icon-uniF489 {
	background-position: -640px -512px;
}
.icon-uniF48A {
	background-position: -704px -512px;
}
.icon-uniF48B {
	background-position: -768px -512px;
}
.icon-cannon {
	background-position: -832px -512px;
}
.icon-route {
	background-position: -896px -512px;
}
.icon-gameboy {
	background-position: -960px -512px;
}
.icon-speed {
	background-position: 0 -576px;
}
.icon-desklamp {
	background-position: -64px -576px;
}
.icon-danger {
	background-position: -128px -576px;
}
.icon-searchdocument {
	background-position: -192px -576px;
}
.icon-pictureframe {
	background-position: -256px -576px;
}
.icon-firefox {
	background-position: -320px -576px;
}
.icon-teapot {
	background-position: -384px -576px;
}
.icon-apple {
	background-position: -448px -576px;
}
.icon-aperture {
	background-position: -512px -576px;
}
.icon-cherry {
	background-position: -576px -576px;
}
.icon-mushroom {
	background-position: -640px -576px;
	width: 33px;
}
.icon-bottle {
	background-position: -704px -576px;
}
.icon-muffin {
	background-position: -768px -576px;
}
.icon-globe {
	background-position: -832px -576px;
}
.icon-eightball {
	background-position: -896px -576px;
}
.icon-speaker {
	background-position: -960px -576px;
}
.icon-watch {
	background-position: 0 -640px;
}
.icon-snowman {
	background-position: -64px -640px;
}
.icon-favoritefile {
	background-position: -128px -640px;
}
.icon-handpointdown {
	background-position: -192px -640px;
}
.icon-handpointright {
	background-position: -256px -640px;
}
.icon-handpointleft {
	background-position: -320px -640px;
}
.icon-raceflag {
	background-position: -384px -640px;
}
.icon-doghouse {
	background-position: -448px -640px;
}
.icon-addtocart {
	background-position: -512px -640px;
}
.icon-emptycart {
	background-position: -576px -640px;
}
.icon-lastfm {
	background-position: -640px -640px;
}
.icon-taxi {
	background-position: -704px -640px;
}
.icon-alienware {
	background-position: -768px -640px;
}
.icon-visa {
	background-position: -832px -640px;
}
.icon-circleleft {
	background-position: -896px -640px;
}
.icon-circledown {
	background-position: -960px -640px;
}
.icon-circleup {
	background-position: 0 -704px;
}
.icon-circleright {
	background-position: -64px -704px;
}
.icon-tea {
	background-position: -128px -704px;
}
.icon-chef {
	background-position: -192px -704px;
}
.icon-foodtray {
	background-position: -256px -704px;
}
.icon-bat {
	background-position: -320px -704px;
}
.icon-addfriend {
	background-position: -384px -704px;
}
.icon-removefriend {
	background-position: -448px -704px;
}
.icon-resistor {
	background-position: -512px -704px;
}
.icon-scales {
	background-position: -576px -704px;
}
.icon-uniF000 {
	background-position: -640px -704px;
}
.icon-uniF00B {
	background-position: -704px -704px;
}
.icon-uniF00C {
	background-position: -768px -704px;
}
.icon-uniF00D {
	background-position: -832px -704px;
}
.icon-uniF013 {
	background-position: -896px -704px;
}
.icon-uniF014 {
	background-position: -960px -704px;
}
.icon-uptime {
	background-position: 0 -768px;
}
.icon-value {
	background-position: -64px -768px;
}
.icon-domain2 {
	background-position: -128px -768px;
}
.icon-affiliate {
	background-position: -192px -768px;
}
.icon-intel {
	background-position: -256px -768px;
}
.icon-link2 {
	background-position: -320px -768px;
}
.icon-email {
	background-position: -384px -768px;
}
.icon-security2 {
	background-position: -448px -768px;
}
.icon-barchart {
	background-position: -512px -768px;
}
.icon-uni0430 {
	background-position: -576px -768px;
}
.icon-price {
	background-position: -640px -768px;
}
.icon-websitebuilder {
	background-position: -704px -768px;
}
.icon-shoppingcart {
	background-position: -768px -768px;
}
.icon-greenhosting {
	background-position: -832px -768px;
}
.icon-spam2 {
	background-position: -896px -768px;
}
.icon-emailforward2 {
	background-position: -960px -768px;
}
.icon-authentication {
	background-position: 0 -832px;
}
.icon-error2 {
	background-position: -64px -832px;
}
.icon-wrench {
	background-position: -128px -832px;
}
.icon-phpbb {
	background-position: -192px -832px;
}
.icon-html5 {
	background-position: -256px -832px;
}
.icon-css3 {
	background-position: -320px -832px;
}
.icon-joomla {
	background-position: -384px -832px;
}
.icon-wordpress {
	background-position: -448px -832px;
}
.icon-drupal {
	background-position: -512px -832px;
}
.icon-codeigniter {
	background-position: -576px -832px;
}
.icon-refresh2 {
	background-position: -640px -832px;
}
.icon-push {
	background-position: -704px -832px;
}
.icon-pull {
	background-position: -768px -832px;
}
.icon-query {
	background-position: -832px -832px;
}
.icon-sc {
	background-position: -896px -832px;
}
.icon-mailinglists {
	background-position: -960px -832px;
}
.icon-emailtrace {
	background-position: 0 -896px;
}
.icon-fourohfour {
	background-position: -64px -896px;
}
.icon-images {
	background-position: -128px -896px;
}
.icon-rawaccesslogs {
	background-position: -192px -896px;
}
.icon-document {
	background-position: -256px -896px;
}
.icon-presentation {
	background-position: -320px -896px;
}
.icon-search2 {
	background-position: -384px -896px;
}
.icon-paste {
	background-position: -448px -896px;
}
.icon-trash {
	background-position: -512px -896px;
}
.icon-trashfull {
	background-position: -576px -896px;
}
.icon-circleadd {
	background-position: -640px -896px;
}
.icon-circledelete {
	background-position: -704px -896px;
}
.icon-circleselect {
	background-position: -768px -896px;
}
.icon-handpointup {
	background-position: -832px -896px;
}
.icon-handdrag {
	background-position: -896px -896px;
}
.icon-handtwofingers {
	background-position: -960px -896px;
}
.icon-diskspace2 {
	background-position: 0 -960px;
}
.icon-volumefull {
	background-position: -64px -960px;
}
.icon-volumehalf {
	background-position: -128px -960px;
	height: 28px;
}
.icon-volumemute {
	background-position: -192px -960px;
	height: 32px;
}
.icon-volumemute2 {
	background-position: -256px -960px;
}
.icon-iphone {
	background-position: -320px -960px;
}
.icon-nexus {
	background-position: -384px -960px;
}
.icon-mobile2 {
	background-position: -448px -960px;
}
.icon-powerplug {
	background-position: -512px -960px;
}
.icon-imac {
	background-position: -576px -960px;
}
.icon-wifi {
	background-position: -640px -960px;
}
.icon-list4 {
	background-position: -704px -960px;
}
.icon-download2 {
	background-position: -768px -960px;
}
.icon-upload2 {
	background-position: -832px -960px;
}
.icon-power {
	background-position: -896px -960px;
}
.icon-loading {
	background-position: -960px -960px;
}
.icon-comment2 {
	background-position: 0 -1024px;
}
.icon-comment22 {
	background-position: -64px -1024px;
}
.icon-post {
	background-position: -128px -1024px;
}
.icon-loved {
	background-position: -192px -1024px;
}
.icon-user2 {
	background-position: -256px -1024px;
}
.icon-friends {
	background-position: -320px -1024px;
}
.icon-thumbup {
	background-position: -384px -1024px;
}
.icon-thumbdown {
	background-position: -448px -1024px;
}
.icon-favorite {
	background-position: -512px -1024px;
}
.icon-favorite2 {
	background-position: -576px -1024px;
}
.icon-happy {
	background-position: -640px -1024px;
}
.icon-sad {
	background-position: -704px -1024px;
}
.icon-facebook {
	background-position: -768px -1024px;
}
.icon-skype {
	background-position: -832px -1024px;
}
.icon-youtube {
	background-position: -896px -1024px;
}
.icon-phone2 {
	background-position: -960px -1024px;
}
.icon-phone3 {
	background-position: 0 -1088px;
}
.icon-dribbble {
	background-position: -64px -1088px;
}
.icon-chrome {
	background-position: -128px -1088px;
}
.icon-yahoo {
	background-position: -192px -1088px;
}
.icon-delicious {
	background-position: -256px -1088px;
}
.icon-reddit {
	background-position: -320px -1088px;
}
.icon-phone4 {
	background-position: -384px -1088px;
}
.icon-missedcall {
	background-position: -448px -1088px;
}
.icon-incomingcall {
	background-position: -512px -1088px;
}
.icon-outgoingcall {
	background-position: -576px -1088px;
}
.icon-googleplus {
	background-position: -640px -1088px;
}
.icon-linkedin {
	background-position: -704px -1088px;
}
.icon-blogger {
	background-position: -768px -1088px;
}
.icon-vimeo {
	background-position: -832px -1088px;
}
.icon-path {
	background-position: -896px -1088px;
}
.icon-twitter {
	background-position: -960px -1088px;
}
.icon-share {
	background-position: 0 -1152px;
}
.icon-evernote {
	background-position: -64px -1152px;
}
.icon-play2 {
	background-position: -128px -1152px;
}
.icon-fastforward {
	background-position: -192px -1152px;
}
.icon-rewind {
	background-position: -256px -1152px;
}
.icon-play3 {
	background-position: -320px -1152px;
}
.icon-stop2 {
	background-position: -384px -1152px;
}
.icon-pause2 {
	background-position: -448px -1152px;
}
.icon-voice {
	background-position: -512px -1152px;
}
.icon-equalizer3 {
	background-position: -576px -1152px;
}
.icon-ipod2 {
	background-position: -640px -1152px;
}
.icon-camera2 {
	background-position: -704px -1152px;
}
.icon-videocamera {
	background-position: -768px -1152px;
}
.icon-video3 {
	background-position: -832px -1152px;
}
.icon-headphones2 {
	background-position: -896px -1152px;
}
.icon-font {
	background-position: -960px -1152px;
}
.icon-crop {
	background-position: 0 -1216px;
}
.icon-insertpictureleft {
	background-position: -64px -1216px;
}
.icon-bold {
	background-position: -128px -1216px;
}
.icon-italic {
	background-position: -192px -1216px;
}
.icon-wizard2 {
	background-position: -256px -1216px;
}
.icon-creativecommons {
	background-position: -320px -1216px;
}
.icon-water {
	background-position: -384px -1216px;
}
.icon-maps {
	background-position: -448px -1216px;
}
.icon-calendar2 {
	background-position: -512px -1216px;
}
.icon-clock2 {
	background-position: -576px -1216px;
}
.icon-gasstation {
	background-position: -640px -1216px;
}
.icon-umbrella {
	background-position: -704px -1216px;
}
.icon-stopwatch {
	background-position: -768px -1216px;
}
.icon-gpsoff {
	background-position: -832px -1216px;
}
.icon-gpson {
	background-position: -896px -1216px;
}
.icon-checkin {
	background-position: -960px -1216px;
}
.icon-clock22 {
	background-position: 0 -1280px;
}
.icon-watertap {
	background-position: -64px -1280px;
}
.icon-airplane2 {
	background-position: -128px -1280px;
}
.icon-shipping {
	background-position: -192px -1280px;
}
.icon-piggybank {
	background-position: -256px -1280px;
}
.icon-dollar2 {
	background-position: -320px -1280px;
}
.icon-euro2 {
	background-position: -384px -1280px;
}
.icon-pound2 {
	background-position: -448px -1280px;
}
.icon-yen2 {
	background-position: -512px -1280px;
}
.icon-briefcase2 {
	background-position: -576px -1280px;
}
.icon-law {
	background-position: -640px -1280px;
}
.icon-paypal {
	background-position: -704px -1280px;
}
.icon-skrill {
	background-position: -768px -1280px;
}
.icon-alertpay {
	background-position: -832px -1280px;
}
.icon-westernunion {
	background-position: -896px -1280px;
}
.icon-moneybag {
	background-position: -960px -1280px;
}
.icon-cash {
	background-position: 0 -1344px;
}
.icon-flaskfull {
	background-position: -64px -1344px;
}
.icon-paperclip {
	background-position: -128px -1344px;
}
.icon-paperclip2 {
	background-position: -192px -1344px;
}
.icon-paperclip3 {
	background-position: -256px -1344px;
}
.icon-megaphone {
	background-position: -320px -1344px;
}
.icon-student {
	background-position: -384px -1344px;
}
.icon-fence {
	background-position: -448px -1344px;
}
.icon-lamp {
	background-position: -512px -1344px;
}
.icon-plaque {
	background-position: -576px -1344px;
}
.icon-controllerps {
	background-position: -640px -1344px;
}
.icon-trophy {
	background-position: -704px -1344px;
}
.icon-starempty {
	background-position: -768px -1344px;
}
.icon-starhalf {
	background-position: -832px -1344px;
}
.icon-starfull {
	background-position: -896px -1344px;
}
.icon-lifeempty {
	background-position: -960px -1344px;
}
.icon-lifehalf {
	background-position: 0 -1408px;
}
.icon-lifefull {
	background-position: -64px -1408px;
}
.icon-warmedal {
	background-position: -128px -1408px;
}
.icon-medal {
	background-position: -192px -1408px;
}
.icon-medalgold {
	background-position: -256px -1408px;
}
.icon-medalsilver {
	background-position: -320px -1408px;
}
.icon-medalbronze {
	background-position: -384px -1408px;
}
.icon-tennis {
	background-position: -448px -1408px;
}
.icon-americanfootball {
	background-position: -512px -1408px;
}
.icon-diamonds {
	background-position: -576px -1408px;
}
.icon-settings4 {
	background-position: -640px -1408px;
}
.icon-settings5 {
	background-position: -704px -1408px;
}
.icon-info {
	background-position: -768px -1408px;
}
.icon-zoomin {
	background-position: -832px -1408px;
}
.icon-zoomout {
	background-position: -896px -1408px;
}
.icon-quoteup {
	background-position: -960px -1408px;
}
.icon-quotedown {
	background-position: 0 -1472px;
}
.icon-undo {
	background-position: -64px -1472px;
}
.icon-redo {
	background-position: -128px -1472px;
}
.icon-lightbulb {
	background-position: -192px -1472px;
}
.icon-phone5 {
	background-position: -256px -1472px;
}
.icon-mobile3 {
	background-position: -320px -1472px;
}
.icon-directions {
	background-position: -384px -1472px;
}
.icon-mail {
	background-position: -448px -1472px;
}
.icon-pencil3 {
	background-position: -512px -1472px;
}
.icon-feather {
	background-position: -576px -1472px;
}
.icon-user3 {
	background-position: -640px -1472px;
}
.icon-target2 {
	background-position: -704px -1472px;
}
.icon-share2 {
	background-position: -768px -1472px;
}
.icon-heart {
	background-position: -832px -1472px;
}
.icon-heart2 {
	background-position: -896px -1472px;
}
.icon-star2 {
	background-position: -960px -1472px;
}
.icon-star3 {
	background-position: 0 -1536px;
}
.icon-thumbs-up {
	background-position: -64px -1536px;
}
.icon-thumbs-down {
	background-position: -128px -1536px;
}
.icon-comment3 {
	background-position: -192px -1536px;
}
.icon-quote {
	background-position: -256px -1536px;
}
.icon-search3 {
	background-position: -320px -1536px;
}
.icon-bell2 {
	background-position: -384px -1536px;
}
.icon-link3 {
	background-position: -448px -1536px;
}
.icon-tools {
	background-position: -512px -1536px;
}
.icon-tag {
	background-position: -576px -1536px;
}
.icon-new {
	background-position: -640px -1536px;
}
.icon-clock3 {
	background-position: -704px -1536px;
}
.icon-calendar3 {
	background-position: -768px -1536px;
}
.icon-briefcase {
	background-position: -832px -1536px;
}
.icon-brush {
	background-position: -896px -1536px;
	width: 33px;
}
.icon-cone {
	background-position: -960px -1536px;
}
.icon-screen {
	background-position: 0 -1600px;
}
.icon-database {
	background-position: -64px -1600px;
}
.icon-cart2 {
	background-position: -128px -1600px;
}
.icon-pie {
	background-position: -192px -1600px;
}
.icon-bars3 {
	background-position: -256px -1600px;
}
.icon-logout {
	background-position: -320px -1600px;
}
.icon-login {
	background-position: -384px -1600px;
}
.icon-checkmark4 {
	background-position: -448px -1600px;
}
.icon-cross {
	background-position: -512px -1600px;
}
.icon-minus3 {
	background-position: -576px -1600px;
}
.icon-plus3 {
	background-position: -640px -1600px;
}
.icon-cross2 {
	background-position: -704px -1600px;
}
.icon-erase {
	background-position: -768px -1600px;
}
.icon-info2 {
	background-position: -832px -1600px;
}
.icon-info3 {
	background-position: -896px -1600px;
}
.icon-question {
	background-position: -960px -1600px;
}
.icon-help {
	background-position: 0 -1664px;
}
.icon-warning {
	background-position: -64px -1664px;
}
.icon-shuffle {
	background-position: -128px -1664px;
}
.icon-switch2 {
	background-position: -192px -1664px;
}
.icon-video {
	background-position: -256px -1664px;
}
.icon-upload3 {
	background-position: -320px -1664px;
}
.icon-download3 {
	background-position: -384px -1664px;
}
.icon-bookmark {
	background-position: -448px -1664px;
}
.icon-bookmarks {
	background-position: -512px -1664px;
}
.icon-play4 {
	background-position: -576px -1664px;
}
.icon-pause3 {
	background-position: -640px -1664px;
}
.icon-record {
	background-position: -704px -1664px;
}
.icon-stop3 {
	background-position: -768px -1664px;
}
.icon-next2 {
	background-position: -832px -1664px;
}
.icon-previous2 {
	background-position: -896px -1664px;
}
.icon-first {
	background-position: -960px -1664px;
}
.icon-last {
	background-position: 0 -1728px;
}
.icon-arrow-right4 {
	background-position: -64px -1728px;
}
.icon-cc {
	background-position: -128px -1728px;
}
.icon-github {
	background-position: -192px -1728px;
}
.icon-github2 {
	background-position: -256px -1728px;
}
.icon-flickr {
	background-position: -320px -1728px;
}
.icon-flickr2 {
	background-position: -384px -1728px;
}
.icon-vimeo2 {
	background-position: -448px -1728px;
}
.icon-vimeo3 {
	background-position: -512px -1728px;
}
.icon-twitter2 {
	background-position: -576px -1728px;
}
.icon-twitter3 {
	background-position: -640px -1728px;
}
.icon-facebook2 {
	background-position: -704px -1728px;
}
.icon-facebook3 {
	background-position: -768px -1728px;
}
.icon-facebook4 {
	background-position: -832px -1728px;
}
.icon-googleplus2 {
	background-position: -896px -1728px;
}
.icon-googleplus3 {
	background-position: -960px -1728px;
}
.icon-pinterest {
	background-position: 0 -1792px;
	height: 26px;
}
.icon-pinterest2 {
	background-position: -64px -1792px;
}
.icon-tumblr {
	background-position: -128px -1792px;
}
.icon-tumblr2 {
	background-position: -192px -1792px;
}
.icon-linkedin2 {
	background-position: -256px -1792px;
}
.icon-linkedin3 {
	background-position: -320px -1792px;
}
.icon-dribbble2 {
	background-position: -384px -1792px;
}
.icon-dribbble3 {
	background-position: -448px -1792px;
}
.icon-lastfm2 {
	background-position: -512px -1792px;
}
.icon-lastfm3 {
	background-position: -576px -1792px;
}
.icon-instagram {
	background-position: -640px -1792px;
}
.icon-dropbox {
	background-position: -704px -1792px;
}
.icon-evernote2 {
	background-position: -768px -1792px;
}
.icon-skype2 {
	background-position: -832px -1792px;
}
.icon-skype3 {
	background-position: -896px -1792px;
}
.icon-renren {
	background-position: -960px -1792px;
}
.icon-paypal2 {
	background-position: 0 -1856px;
}
.icon-picasa {
	background-position: -64px -1856px;
}
.icon-soundcloud {
	background-position: -128px -1856px;
}
.icon-behance {
	background-position: -192px -1856px;
	width: 33px;
}
.icon-vk {
	background-position: -256px -1856px;
}
.icon-smashing {
	background-position: -320px -1856px;
}
.icon-time {
	background-position: -384px -1856px;
}
.icon-cogs {
	background-position: -448px -1856px;
	width: 34px;
}
.icon-github-sign {
	background-position: -512px -1856px;
}
.icon-phone6 {
	background-position: -576px -1856px;
}
.icon-cogs2 {
	background-position: -640px -1856px;
	height: 31px;
}
.icon-time2 {
	background-position: -704px -1856px;
}
.icon-checkmark5 {
	background-position: -768px -1856px;
}
.icon-basket {
	background-position: -832px -1856px;
}
.icon-phone7 {
	background-position: -896px -1856px;
}
.icon-chat {
	background-position: -960px -1856px;
}
.icon-comments {
	background-position: 0 -1920px;
	width: 34px;
}
.icon-download4 {
	background-position: -64px -1920px;
}
.icon-pen {
	background-position: -128px -1920px;
}
.icon-coins {
	background-position: -192px -1920px;
}
.icon-bookmark2 {
	background-position: -256px -1920px;
}
.icon-ticket {
	background-position: -320px -1920px;
	width: 40px;
}
.icon-ticket2 {
	background-position: -384px -1920px;
	width: 40px;
}
.icon-ticket3 {
	background-position: -448px -1920px;
	width: 39px;
}
.icon-pen2 {
	background-position: -512px -1920px;
}
.icon-cart3 {
	background-position: -576px -1920px;
}
.icon-clock4 {
	background-position: -640px -1920px;
}
.icon-clock5 {
	background-position: -704px -1920px;
}
.icon-bubble {
	background-position: -768px -1920px;
}
.icon-bubbles {
	background-position: -832px -1920px;
	width: 36px;
}
.icon-user4 {
	background-position: -896px -1920px;
}
.icon-remove {
	background-position: -960px -1920px;
}
.icon-eye-blocked {
	background-position: 0 -1984px;
}
.icon-eye2 {
	background-position: -64px -1984px;
}
.icon-bookmark3 {
	background-position: -128px -1984px;
}
.icon-bookmarks2 {
	background-position: -192px -1984px;
}
.icon-cancel-circle {
	background-position: -256px -1984px;
}
.icon-omega {
	background-position: -320px -1984px;
}
.icon-sigma {
	background-position: -384px -1984px;
}
.icon-mail2 {
	background-position: -448px -1984px;
}
.icon-mail3 {
	background-position: -512px -1984px;
}
.icon-google-plus {
	background-position: -576px -1984px;
}
.icon-google-plus2 {
	background-position: -640px -1984px;
}
.icon-google-plus3 {
	background-position: -704px -1984px;
}
.icon-facebook5 {
	background-position: -768px -1984px;
}
.icon-facebook6 {
	background-position: -832px -1984px;
}
.icon-facebook7 {
	background-position: -896px -1984px;
}
.icon-twitter4 {
	background-position: -960px -1984px;
}
.icon-twitter5 {
	background-position: 0 -2048px;
}
.icon-twitter6 {
	background-position: -64px -2048px;
}
.icon-feed {
	background-position: -128px -2048px;
}
.icon-feed2 {
	background-position: -192px -2048px;
}
.icon-feed3 {
	background-position: -256px -2048px;
}
.icon-youtube2 {
	background-position: -320px -2048px;
}
.icon-youtube3 {
	background-position: -384px -2048px;
}
.icon-vimeo4 {
	background-position: -448px -2048px;
	width: 34px;
	height: 34px;
}
.icon-vimeo22 {
	background-position: -512px -2048px;
}
.icon-vimeo5 {
	background-position: -576px -2048px;
}
.icon-flickr3 {
	background-position: -640px -2048px;
}
.icon-flickr4 {
	background-position: -704px -2048px;
}
.icon-flickr5 {
	background-position: -768px -2048px;
}
.icon-picassa {
	background-position: -832px -2048px;
}
.icon-picassa2 {
	background-position: -896px -2048px;
}
.icon-dribbble4 {
	background-position: -960px -2048px;
}
.icon-dribbble5 {
	background-position: 0 -2112px;
}
.icon-dribbble6 {
	background-position: -64px -2112px;
}
.icon-deviantart {
	background-position: -128px -2112px;
	width: 33px;
}
.icon-deviantart2 {
	background-position: -192px -2112px;
}
.icon-github3 {
	background-position: -256px -2112px;
}
.icon-github4 {
	background-position: -320px -2112px;
}
.icon-wordpress2 {
	background-position: -384px -2112px;
}
.icon-wordpress3 {
	background-position: -448px -2112px;
}
.icon-blogger2 {
	background-position: -512px -2112px;
}
.icon-blogger3 {
	background-position: -576px -2112px;
}
.icon-tumblr3 {
	background-position: -640px -2112px;
}
.icon-tumblr4 {
	background-position: -704px -2112px;
}
.icon-android {
	background-position: -768px -2112px;
}
.icon-windows {
	background-position: -832px -2112px;
}
.icon-skype4 {
	background-position: -896px -2112px;
}
.icon-linkedin4 {
	background-position: -960px -2112px;
}
.icon-lastfm4 {
	background-position: 0 -2176px;
}
.icon-lastfm5 {
	background-position: -64px -2176px;
}
.icon-stumbleupon {
	background-position: -128px -2176px;
}
.icon-stumbleupon2 {
	background-position: -192px -2176px;
}
.icon-pinterest3 {
	background-position: -256px -2176px;
}
.icon-pinterest4 {
	background-position: -320px -2176px;
}
.icon-paypal3 {
	background-position: -384px -2176px;
	width: 33px;
}
.icon-paypal4 {
	background-position: -448px -2176px;
	width: 33px;
}
.icon-file-xml {
	background-position: -512px -2176px;
}
.icon-html52 {
	background-position: -576px -2176px;
}
.icon-html53 {
	background-position: -640px -2176px;
}
.icon-css32 {
	background-position: -704px -2176px;
}
.icon-chrome2 {
	background-position: -768px -2176px;
}
.icon-firefox2 {
	background-position: -832px -2176px;
	width: 33px;
}
.icon-IE {
	background-position: -896px -2176px;
}
.icon-opera {
	background-position: -960px -2176px;
}
.icon-safari {
	background-position: 0 -2240px;
}
.icon-cart4 {
	background-position: -64px -2240px;
}
.icon-clock6 {
	background-position: -128px -2240px;
}
.icon-apple2 {
	background-position: -192px -2240px;
}
.icon-phone8 {
	background-position: -256px -2240px;
	width: 35px;
	height: 35px;
}
.icon-checkmark6 {
	background-position: -320px -2240px;
}
.icon-cancel2 {
	background-position: -384px -2240px;
}
.icon-arrow-left-alt1 {
	background-position: -448px -2240px;
}
.icon-arrow-right-alt1 {
	background-position: -512px -2240px;
}
.icon-arrow-up-alt1 {
	background-position: -576px -2240px;
}
.icon-arrow-down-alt1 {
	background-position: -640px -2240px;
}
.icon-clock7 {
	background-position: -704px -2240px;
}
